@{
	ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Quality &amp; saving, ​Food for the&nbsp;people by the people, Always on time, Best Sellers, Become a&nbsp;GO-GROCER!, Become part of our Courier team, Talk to us, We would love to hear you out!">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Home</title>
    <link rel="stylesheet" href="~/css/nicepage.css" media="screen">
<link rel="stylesheet" href="~/css/Home.css" media="screen">
    <script class="u-script" type="text/javascript" src="~/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 4.0.3, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i|Oswald:200,300,400,500,600,700">
    
    <script type="application/ld+json">{
		"context": "http://schema.org",
		"type": "Organization",
		"name": "Site1"
    }
    </script>

    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body">
    <section class="u-align-right u-clearfix u-valign-middle u-section-1" id="carousel_b818">
      <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-layout-cell u-size-26 u-layout-cell-1">
              <div class="u-container-layout u-valign-top u-container-layout-1">
                <img class="u-image u-image-default u-image-1" src="~/images/33510142.png" alt="" data-image-width="667" data-image-height="358">
                <h1 class="u-align-left u-custom-font u-font-merriweather u-text u-text-1">Quality &amp; saving</h1>
                <div class="u-border-3 u-border-grey-dark-1 u-line u-line-horizontal u-line-1"></div>
                <p class="u-align-justify u-text u-text-2">We check the quality of each product we deliver and ensure that our loyal customers are always satissfied and we make sure our prices are relevant to the current market.</p>
              </div>
            </div>
            <div class="u-container-style u-image u-layout-cell u-size-34 u-image-2" data-image-width="864" data-image-height="864">
              <div class="u-container-layout u-container-layout-2"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-image u-section-2" id="carousel_5055" data-image-width="1500" data-image-height="1500">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-center u-container-style u-expanded-width-xs u-group u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <h1 class="u-custom-font u-font-merriweather u-text u-text-body-alt-color u-text-1"> Food for the<br>&nbsp;people by the people
            </h1>
            <p class="u-text u-text-body-alt-color u-text-2">Fresh vegetebales, fruits, Dairy products and more, from 15 and more shop owners delivered by our own personal courriers. Hungry for snacks don't wait in hunger just scroll down and order some with Go-grocery.​&nbsp;</p>
          </div>
        </div>
        <a class="u-active-palette-1-base u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-white u-btn u-btn-round u-button-style u-hover-palette-1-base u-radius-50 u-text-active-white u-text-hover-white u-text-palette-1-dark-2 u-white u-btn-1"><span class="u-icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 512 512" style="width: 1em; height: 1em;"><path d="m256 512c-68.378906 0-132.667969-26.628906-181.019531-74.980469-48.351563-48.351562-74.980469-112.640625-74.980469-181.019531s26.628906-132.667969 74.980469-181.019531c48.351562-48.351563 112.640625-74.980469 181.019531-74.980469s132.667969 26.628906 181.019531 74.980469c48.351563 48.351562 74.980469 112.640625 74.980469 181.019531s-26.628906 132.667969-74.980469 181.019531c-48.351562 48.351563-112.640625 74.980469-181.019531 74.980469zm0-472c-119.101562 0-216 96.898438-216 216s96.898438 216 216 216 216-96.898438 216-216-96.898438-216-216-216zm138.285156 182-28.285156-28.285156-110 110-110-110-28.285156 28.285156 138.285156 138.285156zm0 0"></path></svg><img></span>&nbsp; &nbsp;View Products
        </a>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-palette-3-light-1 u-section-3" id="carousel_d86d">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-left-cell u-size-29 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <h2 class="u-align-left u-custom-font u-font-merriweather u-text u-text-body-alt-color u-text-1">Always on time</h2>
                  <p class="u-align-justify u-text u-text-body-alt-color u-text-2">Our Courriers are hired to deliver on time and at the shortest amount of time. In addition, Our courriers are stationed in every part of Izmir to ensure minimum delivery time for each customer in any region,<span style="font-weight: 700;"></span>
                  </p>
                </div>
              </div>
              <div class="u-align-center u-container-style u-image u-layout-cell u-right-cell u-size-31 u-image-1" data-image-width="700" data-image-height="667">
                <div class="u-container-layout u-container-layout-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-4" id="carousel_e2f6">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-custom-font u-font-merriweather u-text u-text-palette-5-dark-1 u-text-1">Our Best Sellers </h2>
        <div class="u-border-3 u-border-palette-5-dark-1 u-line u-line-horizontal u-line-1"></div>
        <div id="carousel-8627" data-interval="5000" data-u-ride="carousel" class="u-carousel u-expanded-width u-slider u-slider-1">
          <ol class="u-absolute-hcenter u-carousel-indicators u-carousel-indicators-1">
            <li data-u-target="#carousel-8627" class="u-active u-grey-30 u-shape-circle" data-u-slide-to="0" style="height: 10px; width: 10px;"></li>
            <li data-u-target="#carousel-8627" class="u-grey-30 u-shape-circle" data-u-slide-to="1" style="height: 10px; width: 10px;"></li>
          </ol>
          <div class="u-carousel-inner" role="listbox">
            <div class="u-active u-align-center u-carousel-item u-container-style u-slide">
              <div class="u-container-layout u-valign-middle u-container-layout-1">
                <div class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-gallery u-layout-grid u-lightbox u-no-transition u-show-text-on-hover u-gallery-1">
                  <div class="u-gallery-inner u-gallery-inner-1">
                    <div class="u-effect-fade u-gallery-item u-radius-50 u-shape-round">
                      <div class="u-back-slide" data-image-width="780" data-image-height="780">
                        <img class="u-back-image u-expanded" src="~/images/2b53a912-7079-4915-ab00-5d6502f04d05_size780x780_quality60_cropCenter.jpg">
                      </div>
                      <div class="u-over-slide u-shading u-over-slide-1">
                        <h3 class="u-gallery-heading"></h3>
                        <p class="u-gallery-text"></p>
                      </div>
                    </div>
                    <div class="u-effect-fade u-gallery-item u-radius-50 u-shape-round">
                      <div class="u-back-slide" data-image-width="780" data-image-height="780">
                        <img class="u-back-image u-expanded" src="~/images/c0892efb-dfe0-48f4-bda9-b819f050ffc0_size780x780_quality60_cropCenter.jpg">
                      </div>
                      <div class="u-over-slide u-shading u-over-slide-2">
                        <h3 class="u-gallery-heading"></h3>
                        <p class="u-gallery-text"></p>
                      </div>
                    </div>
                    <div class="u-effect-fade u-gallery-item u-radius-50 u-shape-round">
                      <div class="u-back-slide" data-image-width="425" data-image-height="425">
                        <img class="u-back-image u-expanded" src="~/images/61X58qarMqL._SX425_.jpg">
                      </div>
                      <div class="u-over-slide u-shading u-over-slide-3">
                        <h3 class="u-gallery-heading"></h3>
                        <p class="u-gallery-text"></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-align-center u-carousel-item u-container-style u-expanded-width-xl u-slide">
              <div class="u-container-layout u-container-layout-2">
                <div class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-gallery u-layout-grid u-lightbox u-no-transition u-show-text-on-hover u-gallery-2">
                  <div class="u-gallery-inner u-gallery-inner-2">
                    <div class="u-effect-fade u-gallery-item u-radius-50 u-shape-round">
                      <div class="u-back-slide" data-image-width="780" data-image-height="780">
                        <img class="u-back-image u-expanded" src="~/images/4141e1f7-9506-486c-a78f-701939174d71_size780x780_quality60_cropCenter.jpg">
                      </div>
                      <div class="u-over-slide u-shading u-over-slide-4">
                        <h3 class="u-gallery-heading"></h3>
                        <p class="u-gallery-text"></p>
                      </div>
                    </div>
                    <div class="u-effect-fade u-gallery-item u-radius-50 u-shape-round">
                      <div class="u-back-slide" data-image-width="600" data-image-height="600">
                        <img class="u-back-image u-expanded" src="~/images/8796979134514_1499978000456.jpg">
                      </div>
                      <div class="u-over-slide u-shading u-over-slide-5">
                        <h3 class="u-gallery-heading"></h3>
                        <p class="u-gallery-text"></p>
                      </div>
                    </div>
                    <div class="u-effect-fade u-gallery-item u-radius-50 u-shape-round">
                      <div class="u-back-slide" data-image-width="800" data-image-height="800">
                        <img class="u-back-image u-expanded" src="~/images/000319432.jpg">
                      </div>
                      <div class="u-over-slide u-shading u-over-slide-6">
                        <h3 class="u-gallery-heading"></h3>
                        <p class="u-gallery-text"></p>
                      </div>
                    </div>
                    <div class="u-effect-fade u-gallery-item u-radius-50 u-shape-round" data-image-width="450" data-image-height="346">
                      <div class="u-back-slide">
                        <img class="u-back-image u-expanded" src="~/images/23858738-tomatoes-whole-and-a-half-isolated-on-white.jpg">
                      </div>
                      <div class="u-over-slide u-shading u-over-slide-7">
                        <h3 class="u-gallery-heading"></h3>
                        <p class="u-gallery-text"></p>
                      </div>
                    </div>
                    <div class="u-effect-fade u-gallery-item u-radius-50 u-shape-round" data-image-width="813" data-image-height="750">
                      <div class="u-back-slide">
                        <img class="u-back-image u-expanded" src="~/images/19L_Depozito_Damacana.png">
                      </div>
                      <div class="u-over-slide u-shading u-over-slide-8">
                        <h3 class="u-gallery-heading"></h3>
                        <p class="u-gallery-text"></p>
                      </div>
                    </div>
                    <div class="u-effect-fade u-gallery-item u-radius-50 u-shape-round" data-image-width="225" data-image-height="225">
                      <div class="u-back-slide">
                        <img class="u-back-image u-expanded" src="~/images/download.jpg">
                      </div>
                      <div class="u-over-slide u-shading u-over-slide-9">
                        <h3 class="u-gallery-heading"></h3>
                        <p class="u-gallery-text"></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <style data-mode="XL" data-visited="true"></style>
              <style data-mode="LG"></style>
              <style data-mode="MD"></style>
              <style data-mode="SM"></style>
              <style data-mode="XS"></style>
            </div>
          </div>
          <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-icon-circle u-palette-5-light-1 u-spacing-10 u-text-body-alt-color u-carousel-control-1" href="#carousel-8627" role="button" data-u-slide="prev">
            <span aria-hidden="true">
              <svg viewBox="0 0 477.175 477.175"><path d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225
                    c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z"></path></svg>
            </span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-icon-circle u-palette-5-light-1 u-spacing-10 u-text-body-alt-color u-carousel-control-2" href="#carousel-8627" role="button" data-u-slide="next">
            <span aria-hidden="true">
              <svg viewBox="0 0 477.175 477.175"><path d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5
                    c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z"></path></svg>
            </span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-palette-3-light-1 u-section-5" id="carousel_7052">
      <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-layout-cell u-left-cell u-shape-rectangle u-size-60 u-layout-cell-1">
              <div class="u-container-layout u-container-layout-1">
                <img class="u-image u-image-default u-image-1" src="~/images/187714672-0.jpeg" alt="" data-image-width="1700" data-image-height="1100">
                <h1 class="u-align-left u-custom-font u-font-merriweather u-text u-text-body-alt-color u-text-1">Become a&nbsp;<br>GO-GROCER!
                </h1>
                <p class="u-align-justify u-text u-text-body-alt-color u-text-2">Want to sell your products to locals in your area. We can help you out, just sign-up and we will begin delivering your products to our loyal customers using our trusted courriers that we personally hand pick ourselves.</p>
                <a class="u-active-grey-60 u-border-none u-btn u-button-style u-hover-grey-60 u-palette-5-light-1 u-btn-1 nav-link " asp-area="" asp-controller="Home" asp-action="Signup">Become a Go Grocer!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-white u-section-6" id="carousel_3e3f">
      <div class="u-clearfix u-sheet u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <div class="u-opacity u-opacity-40 u-palette-3-base u-shape u-shape-rectangle u-shape-1"></div>
        <div class="u-palette-3-light-2 u-shape u-shape-rectangle u-shape-2"></div>
        <img src="~/images/fddfdf.jpg" alt="" class="u-image u-image-default u-image-1" data-image-width="878" data-image-height="1080">
        <div class="u-container-style u-group u-white u-group-1">
          <div class="u-container-layout u-valign-middle u-container-layout-1">
            <h2 class="u-custom-font u-font-oswald u-text u-text-1 ">Become part of our Courier team</h2>
          </div>
        </div>
        <div class="u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-group-2">
          <div class="u-container-layout u-container-layout-2">
            <p class="u-text u-text-2"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a class="u-active-grey-60 u-border-none u-btn u-button-style u-hover-grey-60 u-palette-3-light-2 u-btn-1 nav-link " asp-area="" asp-controller="Home" asp-action="Signup">Become a courier!</a>
          </div>
        </div>
      </div>
    </section>
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-8a10"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Copyright © 2021-2022 Go-Grocery, LTD. All Rights Reserved.</p>
      </div></footer>
  </body>
</html>