@model IEnumerable<Go_grocery.Models.Product>
@{
    ViewData["Title"] = "Products";

}
@{
    List<string> repeat = new List<string>();

}
<head>
  <meta charset="UTF-8">
  <meta property="og:image" content="//image.prntscr.com/image/93970e70e1f045e1aff76e05469008d8.png" />
<meta property="og:image:secure_url" content="//image.prntscr.com/image/93970e70e1f045e1aff76e05469008d8.png" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="400" />
<meta property="og:image:height" content="300" /><link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css'><link rel="stylesheet" href="~/css/style.css">

</head>
<body>
   
    @for( int i=0; i <Model.ToList().Capacity;i++){
      <div class="shell">
        <div class="container">
            <div class="row">
                @for (int j = i; (j < i+4) && (j<Model.ToList().Capacity); j++)
               {
                   if(repeat.Contains(Model.ToList().ElementAt(j).Name)== false){
                        <div class="col-md-3">
                                <div class="wsk-cp-product">
                        <div class="wsk-cp-img">
                            <img src="~/images/@Model.ToList().ElementAt(j).Name .jpg"alt="Product" class="img-responsive"/>
                        </div>
                         <div class="wsk-cp-text">
                            <div class="category">
                                <span>@Model.ToList().ElementAt(j).Name</span>
                             </div>
                        <div class="title-product">
                                <h3>@Model.ToList().ElementAt(j).Weight KG</h3>
                        </div>
                        <div class="card-footer">
                        <div class="wcf-left"><span class="price">@Model.ToList().ElementAt(j).Price TL</span></div>
                        </div>
                        </div>
                       
                        </div>
                                @{
                                    repeat.Add(Model.ToList().ElementAt(j).Name);
                                }
                        </div>
                    }
                  }
                @{i = i + 3;}
                
                
    </div>
    </div>
    </div>
}
</body>
